div.tiSlideshowExposeMask {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  display: block;
  z-index: 9998;
  display: none;
}

div.tiSlideshowPlace *::selection {
  background: rgba(0, 0, 0, 0);
}

div.tiSlideshowPlace {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

div.tiSlideshowPlaceSlider {
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 0 55px 0 #000 inset;
}

.tiSlideshowPlaceSliderPrevious {
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 80px;
  width: 60px;
  background-image: url("/tiSlideshow/images/previous_sprite.png");
}

.tiSlideshowPlaceSliderPrevious:hover {
  background-position-y: -80px;
}

.tiSlideshowPlaceSliderNext {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 80px;
  width: 60px;
  background-image: url("/tiSlideshow/images/next_sprite.png");
}

.tiSlideshowPlaceSliderNext:hover {
  background-position-y: -80px;
}

div.tiSlideshowPlaceSliderPicture {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
}

div.tiSlideshowPlaceSliderPicture img {
  margin: auto;
  display: block;
}

div.tiSlideshowPlaceControl {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 15px 0 #CCC inset;
}

div.tiSlideshowPlaceControlThumbnailsScroll {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
}

div.tiSlideshowPlaceControlThumbnails {
  display: inline-block;
  height: 100px;
}

.tiSlideshowPlaceControlThumbnailsThumbnail {
  vertical-align: bottom;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  margin: 10px 7px 0 7px;
  width: 110px;
  overflow: hidden;
  padding: 1px;
}

.tiSlideshowPlaceControlThumbnailsThumbnail.tiSlideshowPlaceControlThumbnailsSelected {
  box-shadow: 0 0 5px 1px white;
  border: 1px solid white;
  padding: 0;
}

.tiSlideshowPlaceControlThumbnailsThumbnail img {
  margin: auto;
}

.tiSlideshowPlaceControlClose {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-image: url('/tiSlideshow/images/close_sprite.png');
}
.tiSlideshowPlaceControlClose:hover {
  background-position-y: -100px;
}

.tiSlideshowPlaceControlActions {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 100px;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-image: url('/tiSlideshow/images/actions_sprite.png');
}
.tiSlideshowPlaceControlActions:hover {
  background-position-y: -100px;
}

/* About the jScrollPane plugin */
div.jspDrag {
  background-color: #3B3B3D;
}